body{
    overflow: none;
    padding: none;
    margin: none;
    box-sizing: border-box;
}
main {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: sans-serif;
}

video{
    max-width: 70%;
}

