body{
    overflow: none;
    padding: none;
    margin: none;
    box-sizing: border-box;
    background-color: rgb(11, 7, 83);
    color: rgb(189, 105, 2);
}
main {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

video{
    max-width: 70%;
}

